.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 40px;
  gap: 17px;
  color: white;
  background-color: #122e3ae8;
  width: 600px;
  margin: auto;
  height: 530px;
  border-radius: 10px;
}

.form-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-input {
  width: 300px;
  height: 35px;
  padding: 6px;
  margin-right: 15px;
  font-size: 17px;
  border-radius: 6px;
  background-color: #122e3ae8;
  color: white;
}

.btn-add {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 28px;
  color: #122e3a;
  background-color: #5e7179;
  border: none;
  cursor: pointer;
}

.btn-add:hover {
  background-color: #bdc4c8;
}

.done {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  background-color: #04de00;
  color: #000000;
  cursor: pointer;
}

.done:hover {
  background-color: #04de00c5;
}

.delete {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 18px;
  border: none;
  color: #587b8a;
  background-color: #122e3ae8;
  cursor: pointer;
}

.delete:hover {
  background-color: #bdc4c8;
  color: #122e3a;
}

.edit {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 18px;
  border: none;
  color: #587b8a;
  background-color: #122e3ae8;
  cursor: pointer;
}

.edit:hover {
  background-color: #bdc4c8;
  color: #122e3a;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  background-color: #32505e;
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 4px 10px;
  font-weight: 545;
  font-size: 18px;
}

.todo-center {
  display: flex;
  gap: 18px;
}

.todo-right {
  display: flex;
  gap: 15px;
}

.pagination {
  margin: auto;
}

.select {
  padding: 2px 0;
  font-size: 16px;
  font-weight: 540;
  border-radius: 4px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.669);
}

.select:hover{
 background-color: rgba(255, 255, 255, 0.875);
}

.error {
  font-size: 20px;
  color: red;
}

.msg {
  font-size: 16px;
  color: white;
}

.update {
  height: 35px;
  padding: 6px;
  font-size: 15px;
  border-radius: 4px;
  margin-right: 8px;
  font-weight: 550;
  color: #122e3a;
  background-color: #5e7179;
}

.cancel {
  height: 35px;
  padding: 6px;
  font-size: 15px;
  border-radius: 4px;
  font-weight: 550;
  color: #122e3a;
  background-color: #5e7179;
}

.prev {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #32505e;
  color: white;
  margin-right: 5px;
  font-size: 16px;
  font-weight: 500;
  border: none;
}

.prev:hover {
  background-color: #426e82;
}

.next {
  border: none;
  margin-left: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #32505e;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.next:hover {
  background-color: #426e82;
}

.page {
  font-size: 18px;
  font-weight: 500;
}
