.footer{
    display: flex;
    flex-direction: column;
    background-color: #122e3a;
    gap: 7px;
    align-items: center;
    position: relative;
    bottom: 0;
}

.footer h2{
    color: white;
}

.footer p{
    color: white;
}