.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #122e3a;
    position: absolute;
    width: 100%;
    bottom: 0;
    gap: 7px;
}

.footer h2{
    color: white;
}

.footer span{
    color: white;
}