.nav {
  display: flex;
  background-color: #22566c;
  height: 60px;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-title{
    font-size: 35px;
    color: white;
    padding-left: 25px;
}
.nav-items a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-items{
    display: flex;
    gap: 15px;
    padding-right: 25px;
}